/* Inherit from ganglia's style sheet */
@import url("../../styles.css");

h1 
{
   font: bold 22pt/24pt times, serif;
   color: rgb(10,10,10);
   margin-bottom: 2mm;
}

tt 
{ 
	background: rgb(230,230,230);
}

tr.even
{
   background: rgb(255,255,255);
}

tr.odd
{
   background: rgb(240,240,240);
}

tr.inactive
{
   color: rgb(210,210,210);
}

th 
{
   font: bold 10pt/12pt helvetica, sans-serif;
   color: rgb(10,10,10);
   background: rgb(240,240,240);
   border: thin solid rgb(47,47,47);
   padding: 2mm;
   margin: 1mm;
}

td.job
{
   border: thin dotted rgb(0,0,127);
}

td.Lunknown
{
   background: rgb(150,150,150);
}

small
{
      color: rgb(100,100,100);
}


