/* begin styles for RSS Feed */

.rss_box {
	width: 500px;
	/* border: thin solid rgb(10,10,10); */
	background-color: #FFFFFF;
	text-align: left;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	height: 100%;
}
.rss_items {
	padding:5px;
	color:#000000;
	margin: 0px;

}
.rss_titlebox {
	margin: 0px;
	margin-bottom: 3mm;
	padding:2mm;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: bolder;
	color: rgb(10,10,10);
	background-color:#FFFFCC;
	border-top: 1px solid #FFCC33;
	border-right: 1px solid #FFCC33;
	border-bottom: 1px solid #FFCC33;
	border-left: 1px solid #FFCC33;
	
	
}
.rss_title, rss_title a {
	text-decoration: none;
	font-family: verdana, sans-serif;
	font-size: 14pt;
	/* background-color:#A4A4FF; */
	color:rgb(10,10,10);
	font-weight:bold;
	margin: 0px;
	padding:0px;
	text-align: left;
	border-left-width: 0px;
	border-left-style: solid;
	border-left-color: #ffffff;
}

.rss_item  {
	font-family: verdana, arial, sans-serif;
	font-size: 10pt;
	font-weight : normal;
	list-style: none;
	/* list-style-type: decimal; */
	color: #000000;
	margin-bottom: 5mm;
	padding:0;
}

.rss_item a {
	color:#000099;
	font-size: 10pt;
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	text-decoration: none;
	text-indent: 0px;
	line-height: 12px;
	letter-spacing: normal;
	text-align: left;
	vertical-align: bottom;
	word-spacing: normal;
	border-bottom: thin solid rgb(200,200,200);
	}
	
.rss_item a:visited {
	color:#003366;
}
.rss_item a:hover {
	color:#000099;
	text-decoration: underline;
}

.rss_date {
	font-size: 10px;
	font-weight : normal;
	color: #0033CC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}

